{% extends template.self %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ "/_layouts/css-overrides/search-input-fix.css"|resolveFile }}">
    <link rel="stylesheet" href="{{ "/_layouts/css-overrides/image-fix.css"|resolveFile }}">
    <style>
        /* Inline critical CSS for immediate effect */
        .book-search-input,
        .book-search,
        #book-search-input {
            background-color: #141521 !important;
        }
        
        .book-search-input input,
        #book-search-input input,
        input[type="text"],
        input[placeholder="Type to search"] {
            color: #f8f8f2 !important;
            background-color: #141521 !important;
            -webkit-text-fill-color: #f8f8f2 !important;
        }
        
        .markdown-section img {
            display: block;
            margin: 0 auto;
            max-width: 90%;
        }
    </style>
{% endblock %} 